.container{
  width:60%;
  margin: auto;
  /* text-align: center; */
  
}
body {
  background: linear-gradient(#fff, #051937, #fff, #008793, #fff, #a8eb12);
  font-family: Arial, sans-serif;
  color: white;
  height: 1000px;
}

#form {
/*to be removed*/
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 20px auto;
  /* text-align: center; */
}

label {
  /* display: block; */
  margin-bottom: 10px;
  /* margin-left: -200px; */
}
#name{
  display: flex;
  justify-content: space-between;
}
#fname{
  width: 44%;
  box-shadow: none;
  /* border: 2px solid rgb(99, 228, 185); */
}
#lname{
  width: 44%;
  box-shadow: none;
  /* border: 2px solid rgb(99, 228, 185); */
}


input[type="text"] {
  /* display: block; */
  /* width: 80%; */
  padding: 10px;
  font-size: 16px;
  /* background: linear-gradient(to right,#051937,#004d7a); */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #051937;
  

}
.inline{
  display: inline-block;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #004d7a;
  color: white;
  border: none;
  cursor: pointer;
}

/* table {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
}
th, td {
  border: 1px solid white;
  padding: 10px;
}
th {
  background-color: #004d7a;
} */

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 23px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-width: 1px;
  border-spacing: 10px;
  /* border-radius: 10px; */
}

th {
  background-color: #302b3f; /* light gray */
}


#h{
color: yellow;
text-align: flex;
font-size: 15px;
}

#sor:hover{
cursor:pointer;
color:#8c1aff;

}
#search {
  width: 48%;
  transform: translateX(49%);
  margin: 2rem 0;
  text-align: left;
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #form {
    width: 90%;
    margin: 10px;
  }

  table {
    width: 90%;
  }
  input[type="text"] {
    width: 100%;
  }

  #search {
    width: 90%;
  }
}
